<div class="container pt-4">
  <h1>Create a Transaction</h1>
  <p>Enter a wallet address and an amount you want to send</p>

  <form>
    <div class="form-group row">
      <label for="exampleInputEmail1" class="col-sm-2 col-form-label">To wallet</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Must be an existing address in this network</small>
      </div>
    </div>
    <div class="form-group row">
      <label for="exampleInputPassword1" class="col-sm-2 col-form-label">Amount</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="exampleInputPassword1">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
